

body{
    box-sizing: border-box;
    font-size: 16px;
    font-family:"BIZ UDPGothic",sans-serif;
}

#wrapper{
    max-width: 1440px;
    position: relative;
    margin-left:auto ;
    margin-right: auto;
}

.nav-iphone{
    display: none;
}

#nav-1{
    display: flex;
    justify-content: right;
}

.saiyou-nav{
    display: flex;
    font-weight: bold;
    margin: 5px;
}
.saiyou-nav>a{
    color: #ffffff;
    background-color: #5d4828;
    font-size: 14px;
    padding: 10px; 
    text-decoration: none;
    border-radius: 25px;
    margin: 5px;

}
.saiyou-nav>a::before{
    content: ">";
    font-size: 10px;
    margin-right: 6px;
}
#navigation-nav{
    display: flex;
    margin-right: 10px;
    background-color:#fcf6f2 ;
}
#navigation-nav a{
    color: #000000;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}
#navigation-nav td:nth-child(2){
    border-left:1px solid #E5DCDB;
    border-right: 1px solid #E5DCDB;
}

#other-nav{
    display: flex;
}

#other-nav td{
    padding:0 15px 0 15px ;
}
#other-nav td:nth-child(2){
    border-right:1px solid #5d4828 ;
    border-left:1px solid #5d4828 ; 
}

.hamburger-menu-iphone{
    display: none;
    width: 100%;
    background-color: #fcf6f2;
    padding-top: 80px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.close-btn{
    font-size: 70px;
    position: absolute;
    top: -20px;
    right: 10px;
    cursor: pointer;
}

/* pcハンバーガーメニュー１ */

.pc-menu-position{
    width: 100%;
    height: 0;
    position: relative;
}

.pc_hamburger_menu{
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    border-top: 2px solid #969190;
    opacity: 0;
}

.pc_hamburger_menu .menu-left{
    text-align: center;
    width: 20%;
    margin:20px 30px ;
}

.pc_hamburger_menu .menu-left h2{
    margin-bottom: 20px;
}


.pc_hamburger_menu .menu-left a{
    background-color: #ffffff;
    padding: 3% 5%;
    border-radius: 25px;
    color: #bd402a ;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #bd402a ;
}

.pc_hamburger_menu .menu-right{
    width: auto;
}

.pc_hamburger_menu .menu-right h3{
    margin-bottom: 15px;
}


.pc_hamburger_menu .menu-right ul{
    display: flex;
    flex-wrap: wrap;
}

.pc_hamburger_menu .menu-right ul li{
    display: block;
    width: 22%;
    white-space: nowrap;
    border-bottom:2px solid #ccc;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.pc_hamburger_menu .menu-right ul li a{
    text-decoration: none;
}



.hamburger-menu-iphone .link1{
    margin: 0 10px;
}

.hamburger-menu-iphone .link1 a{
    display: block;
    text-decoration: none;
    background-color: #fff;
    border:1px solid #5d4828;
    border-radius: 5px;
    margin: 4px 0;
    padding-left: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.hamburger-menu-iphone .saiyou-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;    
}

.hamburger-menu-iphone .nav-links{
    flex-direction: column;
    align-items: normal;
    background-color: #fff;
}

.hamburger-menu-iphone .footer-2{
    background-color: #fff;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}



#main_nav{
    display: flex;
    margin: 10px 0 20px 0;
    width: 100%;
}

#navigation{
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.nav-links a{
    display: block;
    border-left: 0.5px solid #E5DCDB ;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 18px 50px;
}

.nav-links a:nth-child(5){
    border-right: 0.5px solid #E5DCDB;
}

#main{
    position: relative;
    width: 100%;
    height: auto;
}

.main-img img{
    width: 100%;
    height: auto;
}

#in-main-img{
    position: absolute;
    top: 30%;
    left: 10%;
}

#in-main-img h2{
    font-size: 60px;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: "Shippori Mincho",serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    line-height:1.2;
    
}
#in-main-img a{
    background-color: #ffffff;
    padding: 3% 5%;
    border-radius: 25px;
    color: #bd402a ;
    text-decoration: none;
    font-weight: bold;
}

#in-main-img a::before{
    content: ">";
    font-weight: bold;
    padding-right: 10px;
    font-size: 15px;
}

#in-main-img a:hover{
    background-color: #bd402a;
    color: #ffffff;
}

.reserve{
    position: absolute;
    bottom: 15%;
    right: 2%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reserve-img{
    margin: 0 auto;
    width: 40px;
}

.reserve p{
    text-align: center;
    font-size: 10px;
}

.patient-position{
    position: relative;
    width: 100%;
    height: 0;
}

#for-patient{
    margin-left:auto ;
    padding: 45px 50px;
    display: flex;
    width: 80%;
    height: auto;
    background-color:#FFFFFF;
    box-shadow:-5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 10;
}


#for-patient-contents-1{
    width: 50%;
    margin-right: 20px;
    height: auto;
}

#for-patient h3{
    margin-left: 19px;
    margin-bottom: 18px;
}

#for-patient-link{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap:30px 0 ;
}

#for-patient-link a{
position: relative;
text-decoration: none;
text-align: center;
}

#for-patient-link a::before{
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 100;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color:rgba(189, 64, 42,0.5);
    opacity: 0;
    transition: 0.5s;
}

#for-patient-link a:hover::before{
    scale: 1;
    opacity: 1;
    width: 80px;
    height: 80px;
}


#for-patient-link img{
    margin:0 auto;
    width: 50px;
    height: 50px;
}

#for-patient-link a:nth-of-type(2),#for-patient-link a:nth-of-type(5){
    border-right:1px solid #E5DCDB ;
    border-left: 1px solid #E5DCDB;
    border-radius: 3px;
}

#for-patient-link a:nth-of-type(-n+3){
    display: block;
}

#for-patient-link a:nth-of-type(-n+3)::after{
content: "";
pointer-events: none;
width: 105%;
height: 1px;
border-radius: 5px;
background-color: #E5DCDB; 
position: absolute;
left: 0;
bottom: -15px; 
}

#for-patient-contents-2{
    width: 50%;
    height: auto;
}

#news-content{
    width: 90%;
    height: 220px;
    margin:10px 20px 0 20px;
    padding-left:20px ;
    border: 2px solid rgba(252,246,242,1);
    overflow:auto ;
}

#news-content p{
    display: block;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
}

#for-hospital{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    padding: 30% 10% 10% 10%;
    background-color: #fcf6f2 ;
}



#for-hospital-1{
    display: flex;
    justify-content: space-between;

    
}
#for-hospital-1 h2{
    margin-top: 40px;
    margin-bottom: 60px;
    font-family:"Shippori Mincho",serif ;
    font-size: 40px;
    font-weight: 450;
}

#for-hospital-1 a{
    text-decoration: none;
    font-weight: bold;
    color: #bd402a;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #bd402a ;
}

#for-hospital-1 a:hover{
    background-color: #bd402a;
    color: #ffffff;
}


#for-hospital-2{
    display: flex;
    margin-bottom: 80px;
}
#for-hospital-2 .content{
    text-align: center;
    position: relative;
    width: 33%;
    height: auto;
    margin: 1px;  
    overflow: hidden; 
}
.content-img{
    width: 100%;
}

#for-hospital-2 h3{
    position: relative;
    width: 100%;
    height: 0;
}

#for-hospital-2 h3 span{
    padding: 10px 20px;
    display: inline;
    background-color: #ffffff;
    border-radius: 60% 60% 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    color:#89736F;
}

#for-hospital-2 .article{
    padding: 30px 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 0;
}
#for-hospital-2 h2{
    font-size: 20px;
    padding-bottom:15px ;
    border-bottom: 1px dotted #89736F ;
}

#for-hospital-2 .article p{
    padding-top: 20px;
    padding-bottom:10px ;
}

#for-hospital-2 > div:nth-child(2) > div > a{
    margin-top: 20px;
}

#for-hospital .content::before{
    content: "";
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color: rgba(189, 64, 42,0.3);
    opacity: 0;
}

#for-hospital .content:hover::before{
    opacity: 1;
    scale: (1);
    width:200%;
    height:200%;
    transition: 0.5s;
}


#search{
    display: flex;
    justify-content:space-around;
    margin-left:  auto;
    margin-right: auto;
    padding: 20px;
    width: 95%;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.search-explain{
    margin-top: auto;
    margin-bottom: auto;
}

.search-content{
    position: relative;
    display: block;
    text-align: center;
    width: 23%;
}

.search-content img{
    margin: 10px auto;
    width: 30%;
    height: auto;
}

.search-content::before{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index:100;
    width: 0;
    height: 0;
    background-color:rgba(189, 64, 42,0.5);
    opacity: 0;
}

.search-content:hover::before{
    opacity: 1;
    scale: (1);
    width: 80px;
    height: 80px;
    transition: 0.5s;
}


.search-content span{
    display: inline-block;
    width: 40px;
    margin-top: 20px;
    background-color: #bd402a;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
}

.search-page{
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: #ffffff;
    width: 95%;
}

.search-page p{
    width: 100%;
    height: 6px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #FCF6F2;
}

#notice{
    width: 100%;
    margin-top: 100px;
}

#notice>h3{
    margin-left: 10%;
    margin-bottom: 30px;
}
.notice-content{
    width: 100%;
    display: flex;
    margin-left:10% ;
}
.notice-content1{
    width: 20%;
}

#notice-menu ul li{
    margin-bottom: 8px;
}

.notice-content2{
    width: 60%;
}

.notice-content2 p{
    margin-bottom: 10px;
    font-weight: bold;
}

.notice-content2 a{
    margin-bottom: 31px;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 0 #E5DCDB;
    padding-bottom: 15px;
}

.notice-button{
    margin-top: 200px;
    margin-right: 40px;
}

.notice-button p{
    text-align: center;
    font-weight: bold;
    color: #bd402a;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #bd402a ;
}

#pickup{
    width: 100%;
    margin-top: 100px;
}

.pickup-contents{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pickup-content{
    margin: 10px 0;
    width: 100%;
    display: flex;
}

.pickup-content img{
    width: 30%;
}

.pickup-content h3::before{
    content: ">";
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
    color: #bd402a;
    position:relative;
    top: -2px;
}

.pickup-content-article{
    display: block;
    margin: auto 10px;
}

#guide{
    background-color:#FCF6F2 ;
    width: 100%;
    height: auto;
    padding: 0 10%;
    display: flex;
    margin-top: 170px;
    padding-bottom: 30px;
}

.guide-content1{
    position: relative;
    top: -70px;
    width: 50%;
}

.guide-img1{
    width: 100%;
    max-height: 300px;
}

.guide-article{
    padding-right: 10px;
}

.guide-article h2{
    margin-top: 20px;
}

.guide-article h3{
    margin-top: 15px;
}


.guide-article p:nth-of-type(2),.guide-content1 p:nth-of-type(4){
    box-shadow: 0 1px 0 #000000;
    padding-bottom: 10px;
}


.guide-content2{
    position: relative;
    top: -70px;
    width: 50%;
}

.guide-content2>h2{
    margin-top: 20px;
}

.guide-content2 .telephone-number{
    display: flex;
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
}

.telephone-number-img{
    width: 40px;
    height: 40px;
}

.guide-content2 .telephone-number h2{
    font-size: 18px;
    margin: auto 0;
}

.guide-content2 .telephone-number p{
    margin: auto 0;
    font-size: 15px;
}

.telephone-number p::before{
    content: ">";
    font-size: 12px;
    margin-left: 30px;
    margin-right: 5px;
    position: relative;
    top: -1px;
    background-color: #bd402a;
    color: #ffffff;
    padding: 6px;
    border-radius: 50%;
}

.guide-buttons{
    display: flex;
    margin-top: 20px;
}

.guide-button{
    margin: 0 10px;
    font-weight: bold;
    color: #bd402a;
    background-color: #ffffff;
    padding: 14px 15px;
    border-radius: 25px;
    border: 1px solid #bd402a ;
}

.guide-button:hover{
    background-color: #bd402a;
    color: #ffffff;
}

.guide-button p::before{
    content: ">";
    margin: auto 0;
    font-size: 12px;
}
footer{
    width: 100%;
    margin-top: 100px;
}

.footer{
    display: flex;
    width: 100%;
    height: 150px;
    padding: 0 10%;
}

.footer-1{
    width:45% ;
}

.footer-1 p{
    margin-bottom: 8px;
}

.footer-2{
    margin:0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35%;
}

.footer-2 a{
    margin-bottom: 5px;
    font-size:14px ;
    display: inline-flex;
    text-decoration: none;
}

.footer-2 a::before{
    content: ">";
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    color: #bd402a;
    margin-right: 10px;
}

.footer-2 a:hover{
    color: #bd402a;
}


#copyright{
    margin-top: 40px;
    font-size: 12px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #bd402a;
    color: #ffffff;
}

.carousel-tab{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    position: relative;
}

.carousel{
    width: 100%;
    margin-bottom: 20px;
}

.carousel img{
    height: 15vw;
    max-width: 200px;
    min-height: 140px;
}

.carousel2{
    margin-bottom: 20px;
}

.carousel2 img{
    height: 15vw;
    max-width: 200px;
    min-height: 140px;
}

/* iphone用のレイアウト */

@media screen and (max-width:428px) {
    
    #wrapper{
        max-width: 428px;
        width: 100%;
        margin: 0;
    }

    .nav-pc{
        display: none;
    }

    .nav-iphone{
        display: flex;
    }

    .nav-iphone .logo{
        display: flex;
        margin: auto 0;
    }

    .nav-iphone .logo h1{
        font-size: 20px;
    }

    .nav-iphone .nav{
        margin-left: auto;
    }

    .nav-iphone .nav ul{
        display: flex;
    }

    .nav-iphone .nav ul li{
        display: block;
        margin-right:5px ;
        font-size: 10px;
        text-align: center;
    }

    .list-img{
        width: 30px;
        height: auto;
    }

    .nav-iphone .nav ul li span{
        position: relative;
        display: block;
        margin: 15px auto 13px auto;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    .nav-iphone .nav ul li span::before,.nav-iphone .nav ul li span::after{
        content: "";
        display: block;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    .nav-iphone .nav ul li span::before{
        position: absolute;
        top: 5px;
    }

    .nav-iphone .nav ul li span::after{
        position: absolute;
        bottom: 5px;
    }

    #main{
        position: relative;
        overflow: hidden;
        margin: auto;
        width: 100%;
        height: 450px;
    }

    #in-main-img{
        position:absolute;
        top: 300px;
        left: 20px;
    }

    .main-img{
        position: absolute;
        top: 50%;
        left: 30px;
        transform:scale(3);
        transform-origin:center ;
        min-height: 200px;
    }

    #in-main-img h2{
        display: block;
        font-size: 35px;
    }

    #in-main-img a{
        display: block;
        margin-right:70px ;
    }

    #for-hospital{
        top: 0;
    }

    #for-patient{
        display: block;
        width: 90%;
        height: auto;
        margin-left: 5%;
        padding: 10px 10px;
        top: -8px;
    }

    #for-patient h3{
        font-size: 13px;
        margin-bottom:5px ;
    }

    #for-patient-contents-1{
        width: 100%;
        margin-bottom: 7px;
    }

    #for-patient-link a{
        font-size: 10px;
    }

    #for-patient-link img{
        width:25px;
        height: 25px;
        margin-bottom: -5px;
    }

    #for-patient-link{
        gap: 20px 0;
    }

    #for-patient-link a:nth-of-type(-n+3)::after{
        bottom:-10px;
    }

    #for-patient-contents-2{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    #news-content{
        height: 70px;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        border: none;
    }

    #news-content p{
        font-size: 8px;
        margin: 10px 0;
    }


    #for-hospital{
        position: relative;
        z-index: 1;
        padding-left: 8px;
        padding-right: 5px;
        padding-top: 80vw;
    }

    #for-hospital>h3{
        font-size: 17px;
        margin-left: 10px;
    }

    #for-hospital .content:hover::before{
        opacity: 0;
        scale: 0;
    }

    #for-hospital-1{
        display: block;
    }

    #for-hospital-1 h2{
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    #for-hospital-1 a{
        display: block;
        margin: 0 20% 30px 20%;
        font-size: 14px;
        text-align: center;
    }

    #for-hospital-2{
        display: block;
        margin-top: 10px;
    }

    #for-hospital-2 .content{
        position: static;
        z-index: 10;
        width: 100%;
        height: auto;
        text-align:left;
        margin-top:-50px ;
    }

    #for-hospital-2 h3{
        height: auto;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }
    

    #for-hospital-2 h3 span{
        position: static;
        border-radius: 0;
        display: block;
        transform: none;
        padding: 5px 0 0 10px;
    }

    #for-hospital-2 .article{
        padding-bottom: 30px;
        padding-top: 0;
        padding-left:10px ;
    }

    #for-hospital-2 .article h2{
        font-size: clamp(14px,5vw,20px);
    }

    #for-hospital-2 .article p,#for-hospital-2 .article a{
        font-size: clamp(12px,4vw,20px);
    }

    

    .img-container{
        position: relative;
        top:60px;
        left: 73%;
        transform: translateX(-50%);
        z-index:100 ;
        max-width: 230px;
        min-width: 150px;
        width: 55vw;
        max-height: 130px;
        min-height: 80px;
        height:35vw;
        overflow: hidden;
    }

    .content-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #image-1{
        object-position: 50% 10%;
    }

    #search{
        display: block;
    }

    .search-content{
        display: flex;
        position: relative;
        flex-direction: column;
        border: 1px solid #E5DCDB;
        margin: 5px 0;
        width: 100%;
    }

    .search-content h3,.search-content p{
        text-align: center;
    }

    .search-content h3{
        margin-top: 20px;
    }

    .search-content p{
        margin-bottom: 20px;
    }


    .search-content img{
        position: absolute;
        top: 20px;
        left: 20px;
        margin: 0;
        width: 50px;
        height: 50px;
    }

    .search-content span{
        margin: 0;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .search-content:hover::before{
        opacity: 0;
        scale: 0;
    }

    #notice{
        width: 100%;
        margin: 0;
        padding-bottom:80px ;
        position: relative;
    }

    #notice>h3{
        margin-bottom: 15px;
        margin-left: 10px;
    }


    .notice-content{
        display: block;
        margin: 0;
        padding: 0 10px;
    }

    .notice-content1{
        width: 100%;
    }

    .notice-button{
        width: 90%;
        margin: 0;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }

    .notice-content2{
        width: 100%;
    }

    .notice-content2 a{
        margin-bottom: 10px;
    }

    #notice-menu ul{
        width: 100;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #notice-menu ul li{
        margin:2px;
        padding: 3px;
        border: 1px solid #E5DCDB;
        border-radius: 3px;
        word-wrap: break-word;
    }

    .pickup-contents{
        display: block;
        margin: 0 10px;
    }

    .pickup-content{
        height: 120px;
    }

    #guide{
        margin-top:50px ;
        flex-direction: column;
        padding: 0 20px;
    }

    .guide-content1{
        position: static;
        width: 100%;
        margin-bottom: 10px;
    }

    .guide-article p{
        font-size: 14px;
    }

    .guide-content2{
        position: static;
        width: 100%;
    }

    .guide-content2 .telephone-number{
        position: relative;
        z-index: 1;
        display: block;
        text-align: center;
        padding: 20px 0 20px 15px;
        margin: 10px 0;
    }

    .telephone-number-img{
        position: absolute;
        z-index: 0;
        left: 20px;
        width: 30px;
        height: 30px;

    }

    .guide-content2 .telephone-number h2{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
        margin-bottom:5px ;
    }

    .guide-content2 .telephone-number p{
        padding-right:55px;

    }

    .telephone-number p::before{
        padding-top:3px ;
    }

    .guide-buttons{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .guide-button{
        text-align: center;
        margin-bottom: 6px;
        padding: 10px;
    }

        .guide-button p::before{
            font-size: 15px;
            margin-right: 6px;
            position: relative;
            top: -2px;
        }

        .footer{
            display: block;
            height: auto;
            padding: 0 20px;
        }

        .footer-1{
            width: 100%;
            margin: 0 auto;
        }

        .footer-2{
            width: 100%;
            margin-top: 30px;
            flex-direction: row;
        }

        .footer-2 a::before{
            margin-right: 3px;
            margin-left: 10px;
        }
}   

/* タブレットレイアウト */
@media (min-width:429px) and (max-width:1093px) {
   
    #wrapper{
        max-width: 1024px;
        width: 100%;
        margin: 0;
    }

    .nav-pc{
        display: none;
    }

    .nav-iphone{
        display: flex;
    }

    .nav-iphone .logo{
        display: flex;
        margin: auto 0;
    }

    .nav-iphone .logo h1{
        font-size: 20px;
    }

    .nav-iphone .nav{
        margin-left: auto;
    }

    .nav-iphone .nav ul{
        display: flex;
    }

    .nav-iphone .nav ul li{
        display: block;
        margin-right:5px ;
        font-size: 10px;
        text-align: center;
    }

    .list-img{
        width: 30px;
        height: auto;
    }

    .nav-iphone .nav ul li span{
        position: relative;
        display: block;
        margin: 15px auto 13px auto;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    .nav-iphone .nav ul li span::before,.nav-iphone .nav ul li span::after{
        content: "";
        display: block;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    .nav-iphone .nav ul li span::before{
        position: absolute;
        top: 5px;
    }

    .nav-iphone .nav ul li span::after{
        position: absolute;
        bottom: 5px;
    }

    .reserve{
       max-width: 90px;
       min-width: 60px;
       width: 10vw;
       max-height: 90px;
       min-height: 60px;
       height: 10vw;
       padding: 1.5%;
    }

    .reserve-img{
        max-width: 45px;
        min-width: 25px;
        width: 3vw;
        max-height: 45px;
        min-height: 25px;
        height: 3vh;
        margin: 0 auto;
    }
    
    .reserve p{
        margin-top: 2%;
        text-align: center;
        font-size:clamp(5.5px,1vw,20px);
    }

    #in-main-img h2{
        font-size:7vw;
    }

    #in-main-img a{
        font-size: 2vw;
        padding:3% 5% ;
    }
    
    

    #for-patient{
        display: flex;
        flex-direction: column;
        width: 90%;
        height:auto;
        padding: 10px 6px;
        top:-50px;
    }

    #for-patient-contents-1{
        width: 100%;
        margin-bottom: 8px;
    }

    #for-patient-contents-2{
        width: 100%;
    }

    #for-patient h3{
        margin-left: 1%;
        margin-bottom: 1%;
        font-size: clamp(12px,3vw,18.7px);
    }

    #for-patient-link a{
        position: relative;
        text-decoration: none;
        text-align: center;
        font-size:clamp(12px,2vw,16px) ;
        }
        
        #for-patient-link img{
            margin: 0 auto;
            position: relative;
            top: 10px;
            max-width: 50px;
            min-width: 25px;
            width: 3vw;
            max-height:50px ;
            min-height: 25px;
            height: 3vw;
        }        

    #news-content{
        margin-top: 0;
        margin-left: 10px;
        padding-left: 0;
        max-height: 100px;
        min-height: 50px;
        height: 10vw;
    }
    
    #news-content p{
        font-size: clamp(10px,2.5vw,16px);
    }
    

    #for-hospital{
        padding: 45vw 20px 10% 20px;
    }

    #for-hospital>h3{
        font-size:clamp(15px,8vw,18.7px);
    }

    #for-hospital-1{
        display: block;
    }

    #for-hospital-1 h2{
        font-size:clamp(22px,5vw,40px);
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #for-hospital-1 a{
        padding: 15px 30px;
    }

    #for-hospital-2{
        margin-bottom: 50px;
    }

    #for-hospital-2 .content{
        margin-top: 30px;
    }
     
    #for-hospital-2 .article{
        height: 200px;
    }

    #search{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 3fr;
    }

    .search-content{
        position: relative;
        border: 1px solid #E5DCDB;
        margin: 5px 0;
        width: 100%;
    }

    .search-explain{
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .search-content img{
        margin-top: 30px;
    }

    .search-content span{
        margin-top: 10px;
    }

    #notice{
        position: relative;
        padding-bottom: 60px;
    }


    .notice-content{
        display: block;
        margin: 0;
    }
    
    .notice-content1{
        width: 100%;
    }

    .notice-content2{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    #notice-menu ul{
        width: 100;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right:20px ;
    }

    #notice-menu ul li{
        margin:2px;
        padding: 3px;
        border: 1px solid #E5DCDB;
        border-radius: 3px;
        word-wrap: break-word;
    }

    .notice-button{
        margin: 0;
        position: absolute;
        bottom: 10px;
        left: 40%;
    }

    .notice-button p{
        padding: 15px 30px;
    }
    
    #pickup{
        margin-top: 10px;
    }
    
    .pickup-contents{
        margin: 0 20px;
    }

    #guide{
        margin-top: 100px;
        padding: 20px;
    }

    .guide-img1{
        width: 100%;
        height: 286px;
    }
    

    .guide-iframe{
        height: 286px;
    }

    .guide-content2 .telephone-number{
        position: relative;
        z-index: 1;
        display: block;
        text-align: center;
        padding: 20px 0 20px 15px;
        margin: 10px 0;
    }

    .telephone-number-img{
        position: absolute;
        z-index: 0;
        left: 20px;
        width: 30px;
        height: 30px;

    }

    .guide-content2 .telephone-number h2{
        font-size: 20px;
        margin-bottom:5px ;
        margin-left: 30px;
        margin-right: 30px;
    }
    .guide-content2 .telephone-number p{
        padding-right:55px;

    }

    .telephone-number p::before{
        padding-top:3px ;
    }

    .guide-buttons{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .guide-button{
        margin-right:auto ;
        padding-left:30px;
        padding-right: 30px;
        margin-bottom: 10px;
    }

    footer{
        margin-top: 10px;
    }

    .footer{
        display: block;
        height: auto;
        padding: 0 20px;

    }

    .footer-1{
        width: 100%;
        margin: 0 auto;
    }

    .footer-2{
        width: 100%;
        margin-top: 30px;
        flex-direction: row;
    }

}

@media (min-width:429px) and (max-width:700px) {

    #for-patient{
        top:-2vh;
    }

    #for-hospital{
        padding-top: 62vw;
    }
    
    #for-hospital-1 h2{
        margin-top: 3%;
        margin-bottom: 4%;
    }


    #for-hospital-1 a{
        font-size: clamp(12px,2vw,16px);
        padding: 2% 4% ;
    }

    #for-hospital-2 h2{
        font-size:clamp(13px,3vw,20px) ;
    }

    #for-hospital-2 .article{
        padding-top: 21%;
        max-height: 200px;
        min-height: 160px;
        height: 50%;
    }

    #for-hospital-2 h3 span{
        font-size:clamp(13px,3vw,18.7px) ;
    }


    .article p{
        font-size:clamp(10px,2vw,16px) ;
    }

    .article a{
        font-size: 10px;
    }

    .search-explain h2{
        font-size: clamp(18px,4vw,24px);
    }
    
    .search-explain p{
        font-size: clamp(12px,3vw,16px);
    }

    .search-content h3{
        font-size: clamp(12px,3vw,18.7px);

    }

    .search-content p{
        font-size: clamp(10px,3vw,16px);
    }

    .search-content span{
        font-size: clamp(12px,3vw,16px);
        max-width: 40px;
        min-width: 30px;
        width: 6vw;
        max-height:40px ;
        min-height: 30px;
        height: 6vw;
    }

    .pickup-content h3{
        font-size:clamp(12px,3vw,18.7px);
    }

    .pickup-content p{
        font-size: clamp(10px,2vw,16px);
    }

    .guide-img1{
        min-height: 180px;
        height:40vw;
    }

    .guide-iframe{
        min-height: 180px;
        height:40vw;
    }

    .guide-article>h2,.guide-content2>h2{
        margin-top: 10px;
        font-size:clamp(18px,3vw,24px);
    }

    .guide-content2>p{
        font-size: 12px;
    }

    .guide-article>h3{
        margin-top: 10px;
        font-size:16px ;
    }

    .guide-article>p{
        font-size: 12px;
    }

    .guide-buttons{
        margin:10px 0 ;
    }

    .guide-button{
        padding:10px 20px ;
    }

    .guide-button p{
        font-size: 12px;
    }

    .guide-content2 .telephone-number h2{
        font-size: clamp(14px,3vw,20px);
        margin: 0 18%;
    }

    .guide-content2 .telephone-number p{
        font-size: 12px;
    }

    .guide-content2 .telephone-number p::before{
        margin-left: 10%;
    }



    .telephone-number-img{
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .guide-content2 .telephone-number{
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .footer-1 a,.footer-1 p{
        font-size:12px ;
    }

    .footer-2 a{
        font-size: 12px;
        margin-right: 5px;
    }
}
